
:root {
    --dark-black: #1a171b;
    --light-black: #58585a;
    --dark-grey: #9c9e9f;
    --light-grey: #c6c7c8;
    --bg-grey: #e3e4e4;
    --primary-button: #eab730;
    --secondary-button: #b88d29;
    --dark-yellow: #aa8128;
    /* SIDEBAR */
    --rz-primary-lighter: rgba(234, 183, 48, 0.12) !important;
    --rz-panel-menu-item-active-color: #b88d29 !important;
    --rz-secondary :#aa8128  !important;
    --strong-yellow: #eab730;
    --secondary-button: #b88d29;
    --dark-yellow: #aa8128;
}
