
@import '/css/colors.css';

.custom-home-header {
    background-color: var(--strong-yellow);
    color: black;
}

.custom-header {
    background-color: var(--dark-black);
    color: white;
}

.center-horizontal {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.custom-menu {
    background-color: var(--dark-black);
    color: white; /* Cambia el color del texto si es necesario */
}


/* FETCH DATA*/
.titlediv {
    background-color: white; /* Fondo blanco */
    margin: 10px; /* Margen en todos los lados */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    overflow-x: auto; /* Permite desplazamiento horizontal si el contenido es más ancho que el contenedor */
    max-width: 100%;
}

.yellowbutton {
    background-color: #f1bf32;
}

.filterinput {
    border: 1px solid #aa8128 !important;
}


/* Dashboard */

.yellowbox {
    background-color: #f1bf32 !important;
    height: 100%;
}
.redbox {
    background-color: #d4a52d !important;
    height: 100%;
}
.greenbox {
    background-color: #aa8128 !important;
    height: 100%;
}
.bluebox {
    background-color: #949596 !important;
    height: 100%;
}
.black-text {
    color: black !important;
}



/* afiliados welcome */
.animated-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(45deg, #f1bf32, #eab730);
    animation: gradientAnimation 5s ease-in-out infinite alternate; /* Estilo de animación tipo PowerPoint 2012 */
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(45deg, #f1bf32, #eab730);
    }

    100% {
        background: linear-gradient(45deg, #eab730, #f1bf32);
    }
}




.mensaje-bienvenida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3em; /* Tamaño grande del texto */
    color: black;
}
